CPLD/.VideoInterface.vhd.swp
CPLD/.VideoInterface_Toplevel.vhd.swp
CPLD/.VideoInterface_pkg.vhd.swp
CPLD/build/.VideoInterface.qsf.swp
CPLD/build/VideoInterface.csv
CPLD/build/VideoInterface.qsf.bak
CPLD/build/db/
CPLD/build/incremental_db/
CPLD/build/old/
CPLD/build/output_files/
CPLD/build/simulation/
FPGA/.VideoController.vhd.swp
FPGA/.VideoController_Toplevel.vhd.swp
FPGA/.VideoController_pkg.vhd.swp
FPGA/build/.VideoController.qsf.swp
FPGA/build/.qsys_edit/
FPGA/build/Clock_50to100.cnx
FPGA/build/Clock_50to100.cnxerr
FPGA/build/PLLJ_PLLSPE_INFO.txt
FPGA/build/VideoController.out.sdc
FPGA/build/VideoController.srf
FPGA/build/VideoController_assignment_defaults.qdf
FPGA/build/db/
FPGA/build/incremental_db/
FPGA/build/old/
FPGA/build/output_files/
FPGA/build/simulation/
FPGA/build/test.bsf
FPGA/build/test.cmp
FPGA/build/test.html
FPGA/build/test.qsys
FPGA/build/test.sopcinfo
FPGA/build/test/
FPGA/build/test_generation.rpt
FPGA/build/test_generation_1.rpt
FPGA/devices/
FPGA/functions.vhd
schematics/MZ80-80CLR/
FPGA/build/VideoController.qws
docker/QuartusPrime/Dockerfile.13.0.1.old
docker/QuartusPrime/Quartus-web-13.0.1.232-linux.tar
docker/QuartusPrime/files/13.0/
docker/QuartusPrime/files/13.1/
docker/QuartusPrime/files/17.1/
docker/QuartusPrime/local/
docker/QuartusPrime/quartus_docker.sh
pin2lib.py
schematics/MZ80_80CLR_v2.0a.pdf
